/* Hide Radio button */

.section-header {
    background-color: #2B2D42 !important;
}

.section-header a,
.section-header i,
.section-header small,
.section-header .title,
.section-header .dropdown-toggle,
.section-header .btn-outline-primary {
    color: #00FF87 !important;
    border-color: #00FF87 !important;
}

.section-header .btn-outline-primary:hover {
    background-color: #00FF87 !important;
    color: #2B2D42 !important;
}

.section-header .btn-primary {
    background-color: #00FF87 !important;
    border-color: #00FF87 !important;
    color: #2B2D42 !important;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 0;
}

.fit-part {
    color: #00FF87;   /* neon green */
}

.style-part {
    color: #b505af;   /* white */
}
.btn-primary {
    background-color: #00FF87 !important;
    border-color: #00FF87 !important;
    color: #2B2D42 !important; /* dark text for contrast */
}

.rate > input{
  display: none;
}

.rate{
  display: inline-block;;
  border: 0;
}

.rate > label{
  float: right;
}

/* Showing the stars */
.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin:0;
  padding:0.3rem .2rem;
  cursor: pointer;
}

/* Half star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover hightlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.rating-star i{
  color: #ffb503 !important;
}

ul.thumb{
  margin:0 auto;
  padding: 0;
  float: left;
}
ul.thumb li{
  list-style: none;
  margin: 10px;
}
ul.thumb li img{
  width: 80px;
  height: 80px;
  border: 1px solid grey;
}
