{% load static %}

<header class="section-header">

<nav class="navbar navbar-expand-lg navbar-light  shadow-sm">
    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <h2 class="logo-text m-0">
                <span class="fit-part">Fit</span><span class="style-part">nStyle</span>
            </h2>
        </a>

        <!-- Hamburger for mobile -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="mainNavbar">

            <!-- Left side items -->
            <ul class="navbar-nav mr-auto align-items-center">

                <!-- Category dropdown -->
                <li class="nav-item dropdown mx-2">
                    <a class="btn btn-success text-white dropdown-toggle px-4"
                       id="categoryDropdown" data-toggle="dropdown">
                        All category
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
                        {% for category in links %}
                        <a class="dropdown-item" href="{{ category.get_url }}">
                            {{ category.category_name }}
                        </a>
                        {% endfor %}
                    </div>
                </li>

                <!-- Store button -->
                <li class="nav-item mx-2">
                    <a class="btn btn-outline-success px-4" href="{% url 'store' %}">
                        Store
                    </a>
                </li>
            </ul>

            <!-- Search bar -->
            <form action="{% url 'search' %}" method="GET" class="form-inline mx-lg-3 my-2 my-lg-0 flex-grow-1">
                <div class="input-group w-100">
                    <input type="text" name="keyword" class="form-control"
                           placeholder="Search" required>
                    <div class="input-group-append">
                        <button class="btn btn-success">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right side items -->
            <ul class="navbar-nav ml-auto align-items-center">

                {% if user.is_authenticated %}
                <li class="nav-item mx-2">
                    <span class="nav-link text-light">Welcome {{ user.first_name }}!</span>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}

                <!-- Cart -->
                <li class="nav-item mx-3">
                    <a href="{% url 'cart' %}" class="nav-link position-relative">
                        <i class="fa fa-shopping-cart fa-lg text-success"></i>

                        {% if cart_count %}
                        <span class="badge badge-danger" 
                              style="position: absolute; top: -5px; right: -10px;">
                            {{ cart_count }}
                        </span>
                        {% endif %}
                    </a>
                </li>

            </ul>

        </div>

    </div>
</nav>

</header>
